.schedulebox {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* -----------------2023-24 css----------------- */
.title {
    text-align: center;
}


/* -----------------월별 버튼 css----------------- */
.button-container {
    text-align: center;
    border-bottom: 1px solid #454548;

}

.month-button {
    margin: 5px;
    margin-left: 5px;
    /* 버튼 간 간격 설정 */
    margin-right: 5px;
    /* 버튼 간 간격 설정 */
    background-color: var(--background-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 80px;
    /* 버튼의 너비를 고정 */
    height: 40px;
    /* 버튼의 높이를 고정 */
    font-size: 1.2rem;
    border-radius: 0px;
    /* 모서리를 둥글게 만듦 */
}

.month-button span {
    font-size: 0.8rem;
}

.month-button:hover,
.month-button:focus {
    font-weight: bold;
    /* 글씨를 두껍게 설정 */
    color: #007bff;
    /* 클릭 또는 호버 시 글씨색을 파란색으로 변경 */
    box-shadow: inset 0 -3px #007bff;
    /* 버튼 아래에 밑줄 추가 */
}


.month-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* 아래 테두리의 높이를 조정 */
    background-color: transparent;
    /* 초기에는 투명색으로 설정 */
    transition: border-bottom-color 0.3s;
    /* 변화를 부드럽게 만듦 */
}


/* -----------------6/7월 버튼 css----------------- */
.death-button {
    margin: 5px;
    margin-left: 5px;
    /* 버튼 간 간격 설정 */
    margin-right: 5px;
    /* 버튼 간 간격 설정 */
    background-color: var(--background-color);
    color: #7F7F81;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
    /* 버튼의 너비를 고정 */
    height: 40px;
    /* 버튼의 높이를 고정 */
    font-size: 1.2rem;
    border-radius: 0px;
    /* 모서리를 둥글게 만듦 */
}

.death-button span {
    font-size: 0.8rem;
}


/* -----------------경기 테이블 css----------------- */
.match-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 10px;
    /* 테이블을 둥글게 만듦 */
    overflow: hidden;
    /* 테이블 내용이 테두리를 벗어나지 않도록 설정 */
    border: 1px solid #454548;
    background-color: #454548;
}

.light-mode .match-table {
    background-color: #F7F7F9;
    border: 1px solid #B4B5C0;
}


/* -----------------테이블 간격 조절css----------------- */
.match-table th {
    text-align: left;
    width: 15%;
    background-color: #303033;
    height: 30px;
}

.light-mode .match-table th {
    background-color: #ccc;
}

.match-table td:nth-child(1) {
    text-align: center;
    width: 5%;
    height: 60px;
}

.match-table td:nth-child(2) {
    text-align: left;
    width: 15%;
}

.match-table td:nth-child(3) {
    text-align: right;
    width: 22.5%;
}

.match-table td:nth-child(4),
.match-table td:nth-child(5),
.match-table td:nth-child(6) {
    text-align: center;
    width: 5%;
}

.match-table td:nth-child(7) {
    text-align: left;
    width: 22.5%;
}

.match-table td:nth-child(8) {
    text-align: center;
    width: 5%;
}

.match-table td:nth-child(9) {
    text-align: right;
    width: 12.5%;
}


/* -----------------기록 버튼 css----------------- */
.record-button {
    background-color: var(--background-color);
    color: #919191;
    border: 2px solid #4D4D4D;
    /* 보더 추가 */
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    font-size: 0.8rem;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    /* 색상 변화를 부드럽게 만듦 */

}

.light-mode .record-button {
    border: 1px solid #4D4D4D;
}

.record-button:hover {
    background-color: #303030;
    border-color: #747474;
    /* 호버 시 보더 색상 변경 */
}

.light-mode .record-button:hover {
    background-color: #ccc;
}

/* -----------------종료/예정 글씨 css----------------- */
.will {
    color: #6B9CFF;
    /* 파란색으로 설정 */
    font-size: 0.8rem;
}

.end {
    color: #919191;
    /* 노란색으로 설정 */
    font-size: 0.8rem;
}


/* -----------------로딩 스피너 위치----------------- */
.schedule-loading {
    margin-top: 50px;
}