.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  width: 99%;
  height: 50px;
  top: 0;
  z-index: 999;
  position: fixed; 
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 10);
}

.light-mode .navbar {
  background-color: #F1F1F1;
}

.dark-mode .navbar {
  background-color: #2C2D33;
}

/* -----------------네비바 css----------------- */
.Header_logo img {
  margin-right: 0px;
  margin-top:5px;
  height: 40px;
  object-fit: contain;
  margin-left: 10px;
}

/* 네비바 글씨 */
.Header_followtext {
  position: absolute;
  top: -6px;
  left: 160px;
  display: flex;
  align-items: center;
}

.Header_findtext {
  position: absolute;
  top: -6px;
  left: 250px;
  display: flex;
  align-items: center;
}

/* 다크모드 네비바 글씨 색상 */
.light-mode .Header_followtext,
.light-mode .Header_findtext {
  color: #551A8B;
}

.dark-mode .Header_followtext,
.dark-mode .Header_findtext {
  color: #F1F1F1;
}

/* 마우스를 올렸을 때 반응 */
.Header_followtext:hover {
  color: #c98aff;
  cursor: pointer;
}

.Header_findtext:hover {
  color: #c98aff;
  cursor: pointer;
}


/* -----------------아이콘 css----------------- */
.Header_dark {
  position: absolute;
  display: flex;
  top: 5px;
  right: 110px;
  align-items: center;
}

.Header_noticeicon {
  position: absolute;
  display: flex;
  top: 5px;
  right: 60px;
  align-items: center;
}

.Header_ava {
  position: absolute;
  display: flex;
  top: 5px;
  right: 10px;
  align-items: center;
}

.Header_input {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 5px;
  margin-left: 37%;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 20%;
}

.Header_global {
  position: absolute;
  display: flex;
  top: 5px;
  right: 160px;
  align-items: center;
}

/* -----------------팝업 css----------------- */
.popup {
  display: flex;
  position: absolute;
  width: 230px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  top: 100%;
  left: 0;
  justify-content: center;
  align-items: center;
}

.popup div {
  padding: 8px;
}

/* 다크모드 네비바 팝업창 글자 색상 css */

.light-mode .popup div {
  color: #2C2D33;
}

.dark-mode .popup div {
  color: #F1F1F1;
}

/* 다크모드 네비바 팝업창 바탕 색상 */
.light-mode .popup {
  background-color: #f1f1f1;
}

.dark-mode .popup {
  background-color: #2C2D33;
}

/* 마우스를 올렸을 때 글자색 변경 */
.popup div:hover {
  color: #c98aff;
}

/* ----------------- 언어선택 팝업 css----------------- */
.language-popup {
  position: absolute;
  width: 90px;
  top: 60px;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dark-mode .language-popup {
  background-color: #2C2D33;
}

.light-mode .language-popup {
  background-color: #F1F1F1;
}

.language-popup div {
  padding: 8px;
  cursor: pointer;
}

.language-popup div:hover {
  color: #c98aff;
}


/* ----------------- 언어별 네비바 css----------------- */
.Header_findtext.language-ja {
  left: 240px;
}

.Header_findtext.language-en {
  left: 250px;
}

/* ----------------- 언어별 팝업 사이즈 조절 css----------------- */
.language-ja .popup {
  width: 350px;
}

.language-en .popup {
  width: 350px;
}