.battle-container {
    background-color: var(--container-background-color);
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    text-align: center; /* 텍스트와 인라인 요소 가운데 정렬 */
  }
  
  .battle-info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .matches-grid {
    display: grid;
    grid-template-columns: 30% 5% 20% 5% 30%;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .grid-header, .grid-row {
    display: contents;
  }
  
  .grid-cell {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    display: flex; 
    align-items: center; 
  }
  
  /* 오른쪽 정렬을 위한 클래스 추가 */
  .text-right {
    justify-content: flex-end; 
    text-align: right; 
  }
  
  /* 왼쪽 정렬을 위한 클래스 추가 */
  .text-left {
    justify-content: flex-start; 
    text-align: left;
  }
  
  /* 가운데 정렬을 위한 클래스 추가 */
  .text-center {
    justify-content: center; 
    text-align: center; 
    color: #919192;
    font-size: 15px;
  }
  